CDP_URL=http://127.0.0.1:9222
CDP_POLL_MS=8000
CDP_SCREENSHOT_MIN_INTERVAL_MS=10000
CDP_ENABLE_NETWORK=false
CDP_ENABLE_PERFORMANCE=false
CDP_ENABLE_LOG=false
CDP_ENABLE_DEBUGGER=false
CDP_LOG_TO_FILE=true
CDP_PROFILE_ROOT=D:\chrome-cdp-profiles
CDP_TOOLS_ROOT=D:\projects\cdp-tools
CBS_WORKFLOWS_ROOT=D:\projects\cbs-workflows
